<h2>Confirmation instructions</h2>

<%= render "devise/shared/links" %>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.hidden_field :confirmation_token %>

  <div class="field mb-3">
    <%= f.label :email, class:"form-label" %>
    <%= f.email_field :email, autofocus: true, class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Confirm Email", class:"btn btn-primary" %>

  </div>
<% end %>



<%= render "devise/shared/links" %>
